<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>分类管理</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/global/css/font.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
		<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        {%include file='front/public/header.html'%}
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            {%include file='front/public/sidebar.html'%}
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    {%include file='front/public/style.html'%}
                    <!-- END THEME PANEL -->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="index.php">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>分类管理</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title"> 分类管理
                        <small>分类管理</small>
                    </h3>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
					<style>
					.error{
						border:red 1px solid;
					}
					</style>
                    <table class="table table-bordered table-striped table-condensed flip-content">
						<thead>
							<th>分类名称</th>
							<th>排序</th>
							<th>操作</th>
						</thead>
						<tbody>
							{%section name=group loop=$group%}
							<tr data-id="{%$group[group].id%}"><td><a href="javascript:;" class="editable editable-click" data-original-title="新名称" data-pk="{%$group[group].id%}" data-type="text">{%$group[group].name%}</a></td><td name="sort">{%$group[group].sort%}</td><td><button class="btn btn-xs yellow btn-outline moveup">上移</button><button class="btn btn-xs yellow btn-outline movedown">下移</button><button class="btn btn-xs red btn-outline delete">删除</button></td></tr>
							{%/section%}
							<tr><td><input type="text" class="form-control" name="name"><span style="color:red;" id="name-error" class="help-block display-none">请填写分类名称</span></td><td><input class="form-control" type="text" name="sort" value="0"></td><td><button class="btn btn-xs green btn-outline createGroup">添加</button></td></tr>
						</tbody>
					</table>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            {%include file='front/public/slider.html'%}
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {%include file='front/public/footer.html'%}
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{%$VIEW_ROOT%}/assets/global/scripts/app.min.js" type="text/javascript"></script>
		<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
		<script type="text/javascript">
		$(document).ready(function(e) {
			
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			function sortTr()
			{
				var id = [];
				$.each($('tbody tr'),function(index,value){
					id.push($(value).data('id'));
				});
				$.post('{%url m=ajax c=group a=sort%}',{id:id},function(response){
					if(response.code==1)
					{
						$.each($('tbody tr'),function(index,value){
							$(value).find('td[name=sort]').html(index);
						});
					}
				});
			}
			
			$('tbody').on('click','.delete',function(){
				var ths = $(this);
				var id = ths.parents('tr').data('id');
				$.post('{%url m=ajax c=group a=remove%}',{id:id},function(response){
					if(response.code==1)
					{
						ths.parents('tr').remove();
						sortTr();
					}
				});
			});
			
			$('.editable').editable({
				url: '{%url m=ajax c=group a=rename%}',
				type: 'text',
				name: 'name',
			});

			
			$('tbody').on('click','.moveup',function(){
				$(this).parents('tr').insertBefore($(this).parents('tr').prev());
				sortTr();
			});
			
			$('tbody').on('click','.movedown',function(){
				if($(this).parents('tr').next().find('input').length == 0)
				{
					$(this).parents('tr').insertAfter($(this).parents('tr').next());
				}
				sortTr();
			});
			
			$('.createGroup').on('click',function(){
				var name = $.trim($('input[name=name]').val());
				if(name.length == 0)
				{
					$('input[name=name]').addClass('error');
					$('#name-error').removeClass('display-none');
					return false;
				}
				else
				{
					$('input[name=name]').removeClass('error');
					$('#name-error').addClass('display-none');
				}
				var sort = parseInt($('input[name=sort]').val());
				$.post('{%url m=ajax c=group a=create%}',{pid:'{%$smarty.get.id%}',name:name,sort:sort},function(response){
					if(response.code==1)
					{
						var hasInsert = false;
						var tpl = '<tr data-id="'+response.body+'"><td>'+name+'</td><td name="sort">'+sort+'</td><td><button class="btn btn-xs yellow btn-outline moveup">上移</button><button class="btn btn-xs yellow btn-outline movedown">下移</button><button class="btn btn-xs red btn-outline delete">删除</button></td></tr>';
						$.each($('tr'),function(index,value){
							var search_sort = parseInt($(value).find('td[name=sort]').html());				
							if(search_sort==sort)
							{
								$(tpl).insertAfter($(value));
								hasInsert = true;
								return false;
							}
							else if(search_sort > sort)
							{
								$(tpl).insertBefore($(value));
								hasInsert = true;
								return false;
							}
						});
						if(!hasInsert)
						{
							$(tpl).insertBefore($('tbody tr:last'));
						}
						sortTr();
					}
				});
			});
		});
		</script>
    </body>

</html>